<h2>Search Character</h2>

<form action="/character" method="GET">
  <div>
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name%>" />
  </div>

  <!-- <div>
    <label>Published After</label>
    <input
      type="date"
      name="publishedAfter"
      value="<%= searchOptions.publishedAfter%>"
    />
  </div>

  <div>
    <label>Published Before</label>
    <input
      type="date"
      name="publishedBefore"
      value="<%= searchOptions.publishedBefore%>"
    />
  </div> -->

  <button type="submit">Search</button>
</form>

<div>
  <% characters.forEach(character => { %>

  <a href="/character/<%= character.id %>">
    <img height="150" width="100" src="<%= character.coverImagePath%>" />
  </a>
  <div><%=character.name%></div>

  <% }) %>
</div>
