<h2 class="page-header">Search Anime</h2>
<form action="/product" method="GET">
  <div>
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name%>" />
  </div>

  <div>
    <label>Published After</label>
    <input
      type="date"
      name="publishedAfter"
      value="<%= searchOptions.publishedAfter%>"
    />
  </div>

  <div>
    <label>Published Before</label>
    <input
      type="date"
      name="publishedBefore"
      value="<%= searchOptions.publishedBefore%>"
    />
  </div>
  <button type="submit">Search</button>

  <!-- <div>
    <% products.forEach(product => { %>
    <img height="200" width="300" src="<%= product.coverImagePath%>" />
    <div><%=product.name%></div>

    <% }) %>
  </div> -->
</form>

<!-- 
<% products.forEach(product=>{%>
<div><%=product.name%></div>
<% })%> -->
<br />
<% products.forEach(product => { %>
<!-- <div>
  <img height="150" width="100" src="<%= product.coverImagePath%>" />
</div> -->
<div><%= product.name %></div>

<div class="btn-row">
  <a class="btn btn-primary" href="/product/<%= product.id %>">View</a>
  <a class="btn btn-primary" href="/product/<%= product.id %>/edit">Edit</a>

  <%- include('../partials/deleteForm', { url: `/product/${product.id}` }) %>
</div>

<% }) %>

<!-- never use get to delete, use form not anchor -->
